/* should probably refactor this to be more relevant like 'login.css */

#loginBox{
  width: 40%;
  margin: 15em auto;
}

#box{
  padding: 30px;
  border-radius: 10px;
  background-color: white;
}

#child{
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}